@import 'vant/lib/index.css';
@import 'element-plus/dist/index.css';
@import 'element-plus/theme-chalk/dark/css-vars.css';
@import "viewerjs/dist/viewer.min.css";
@import 'vant/lib/index.css';

/* 自定义样式 */
:root {
  --vp-home-hero-image-width: 450px;
  --vp-home-hero-image-height: 450px;
}


/* 响应式调整 */
@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-width: 550px;
    --vp-home-hero-image-height: 550px;
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-width: 650px;
    --vp-home-hero-image-height: 650px;
  }
}

.VPImage {
  width: 100%;
  height: 100%;
}
